.field {
  .uploads {
    .upload {
      margin: 0.5rem 0;

      & + .upload {
        margin: 0.5rem 0;
      }

      .delete {
        padding: 5px;
        margin-bottom: -5px;
        margin-top: -5px;
        vertical-align: -2px;
        line-height: 0;
        background: none;
        border: none;
        cursor: pointer;

        .deleteIcon {
          color: $red;
        }
      }
    }
  }
}
