$white: #fff;
$black: #000;
$blue: #00c;
$red: #c00;
$gray: #ccc;
$grayLight: #eee;

$defaultFontFamily: "Lato", sans-serif;
$defaultFontSize: 1rem;
$defaultBackgroundColor: $white;
$defaultTextColor: $black;
$defaultLineHeight: 1.2;

$borderRadiusSmall: 0.188rem;
