@use "../../node_modules/reset-css/sass/reset" as *;
@use "../../node_modules/react-image-gallery/styles/scss/image-gallery" as *;
@use "./vars" as *;

html,
body,
#root {
  font-family: $defaultFontFamily;
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: relative;
}

body {
  font-family: $defaultFontFamily;
  font-size: $defaultFontSize;
  background: $defaultBackgroundColor;
  color: $defaultTextColor;
  line-height: $defaultLineHeight;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
