.filter {
  margin-bottom: 1.25rem;
}

.ideas {
  .idea {
    padding: 1.25rem;
    border: 1px solid $black;
    border-radius: 0.625rem;

    & + .idea {
      margin-top: 1.25rem;
    }

    .ideaLink {
      @include link;

      &.visited {
        color: rgb(221, 23, 23);
      }
    }
  }

  .more {
    margin-top: 0.938rem;
  }
}
