.field {
  input {
    display: none;
  }

  .previewPlace {
    position: relative;
    box-sizing: content-box;
    width: 6.25rem;
    height: 6.25rem;
    padding: 0.625rem;
    border: 1px solid $gray;
    background-color: $grayLight;
    border-radius: $borderRadiusSmall;
    margin-bottom: 0.313rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .preview {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
