.createdAt {
  font-size: 0.75rem;
  margin-bottom: 0.625rem;
}

.author {
  display: flex;
  flex-flow: row nowrap;
  margin: 0.625rem 0;
  align-items: center;

  .avatar {
    flex: 0 0 6.25rem;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
  }

  .name {
    flex: 1 1 100%;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1.25rem;
    margin-left: 0.625rem;
  }
}

.gallery {
  margin: 0.625rem 0;
}

.certificate {
  margin: 0.625rem 0;

  .certificateLink {
    @include link;
  }
}

.documents {
  margin: 0.625rem 0;

  .documentLink {
    @include link;
  }
}

.text {
  font-size: 0.875rem;

  & > *:not(:first-child) {
    margin-top: 0.625rem;
  }
}

.likes {
  margin-top: 1.25rem;

  .likesCount {
    color: #001eff;
    font-weight: bold;
  }

  .likeButton {
    @include link;
    margin-top: 0.5rem;
  }
}

.editButton {
  margin-top: 1.25rem;
}

.blockIdea {
  margin-top: 1.25rem;
}
